@model IEnumerable<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rehberler</h1>

<table class="table table-bordered">
    <tr>
        <th style="height:200px;width:150px;">Görsel</th> <!-- Buraya sabit genişlik verdik -->
        <th>Ad Soyad</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        @*

       object-fit:cover;    ->  Resim taşarsa orantılı kırpılsın diye (daha estetik durur)
       text-align: center;	->  Resmi yatayda ortaya aldık
       vertical-align: middle;	-> Resmi ve yazıları dikeyde ortaya aldık
        *@
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <img src="@item.GuideImage" style="height:200px;width:150px;object-fit:cover;" />
            </td>
            <td>@item.GuideName</td>
            <td>@item.GuideDescription</td>
            @{
                if (item.GuideStatus == true)
                {
                    <td><a href="/Admin/Guide/ChangeToFalse/@item.GuideID" class="btn btn-outline-warning">Pasif Yap</a></td>
                }

                else
                {
                    <td><a href="/Admin/Guide/ChangeToTrue/@item.GuideID" class="btn btn-outline-info">Aktif Yap</a></td>
                }
            }
            <td><a href="#" class="btn btn-outline-primary">Düzenle</a></td>
        </tr>
    }
</table>

