@using EntityLayer.Concrete
@model IEnumerable<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h3>Tur Rotaları</h3>

<table class="table table-bordered">

    <tr>
        <th>Şehir</th>
        <th>Konaklama Süresi</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.DestinationCity</td>
            <td>@item.DestinationAccomodationDay</td>
            <td>@item.DestinationPrice ₺</td>
            <td>@item.DestinationCapacity</td>
            <td><a href="#" class="btn btn-outline-info">Detaylar</a></td>
        </tr>
    }

</table>

