@model IEnumerable<Destination>

<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["https://images.travelandleisureasia.com/wp-content/uploads/sites/2/2023/02/20153634/Featured-Inside-3-6.jpg","https://hotgetaways.com.au/wp-content/uploads/2024/10/Sydney-Opera-House-scaled.jpg"
,"https://gtelocalize.com/wp-content/uploads/translation-services-in-Singapore-4-banner.jpg","https://i0.wp.com/a.travel-assets.com/findyours-php/viewfinder/images/res70/179000/179003-North-Island.jpg"
, "https://i.pinimg.com/originals/97/3e/ed/973eed272010517cc86cae4aebede33d.jpg"
,"https://images.coolwallpapers.me/picsup/5693459-santorini-wallpapers.jpg"
,"https://cdn.seturday.com/content/uploads/makale_resimleri/kapak/72d09ee0-4d0c-4613-9ecb-efc805869727banner.jpg",
"https://www.wallpics.net/wp-content/uploads/2018/09/Amsterdam-Background.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Heyecan dolu anlar için pasaporta değil, cesarete ihtiyacın var.</h3>
                        <h6 class="mb-3">Büyük yolculuklar küçük adımlarla başlar...</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                            <form asp-controller="Destination" asp-action="GetAllDestinationBySearchComboBox" method="post" class="booking-form">
                                <div class="row book-form">
                                    <div class="form-input col-md-4 mt-md-0 mt-3">

                                        <select name="destinationCityName" class="selectpicker">
                                          @foreach (var item in Model)
                                                {
                                                <option value="@item.DestinationCity">@item.DestinationCity</option>

                                                }
                                        </select>

                                    </div>
                                 @*    <div class="form-input col-md-4 mt-md-0 mt-3">

                                        <input type="date" name="" placeholder="Date" required="">
                                    </div> *@
                                    <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                        <button class="btn btn-style btn-secondary" type="submit">
                                            <span class="fa fa-search mr-3"
                                                  aria-hidden="true"></span> Rota Ara
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>