@{
    Layout = null;
}
<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("~/Views/UILayoutPartial/HeaderPartial.cshtml")

<body>
    @await Html.PartialAsync("~/Views/UILayoutPartial/NavbarPartial.cshtml")

    @RenderBody()

    @await Html.PartialAsync("~/Views/UILayoutPartial/FooterPartial.cshtml")

    @await Html.PartialAsync("~/Views/UILayoutPartial/ScriptsPartial.cshtml")
</body>

</html>



