<footer>
    <!-- footer -->
    <section class="w3l-footer">
        <div class="w3l-footer-16-main py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 column">
                        <div class="row">
                            <div class="col-md-4 column">
                                <h3>Acentamız</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="/Home/Index">Ana Sayfa</a></li>
                                    <li><a href="/About/Index">Hakkımızda</a></li>
                                    <li><a href="/login/SignIn">Hizmetler</a></li>
                                    <li><a href="/Guide/Index">Rehberlerimiz</a></li>
                                    <li><a href="/ContactUs/Index">Bize Ulaşın</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 column mt-md-0 mt-6">
                                <h3>Onurlarımız</h3>
                                <ul class="footer-gd-16">
                                    <li>2021 En İyi Rezervasyon Organizasyonu</li>
                                    <li>2022 Uluslararası Turist Güvenlik Uzmanlığı</li>
                                    <li>2023 Bölgesel En İyi Tur Rehberi </li>
                                   
                                </ul>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
                        <h3>Mail Bülteni</h3>
                        <div class="end-column">
                            <h4>Yeni Turlar İçin Bildirim Alın</h4>
                            <form action="#" class="subscribe" method="post">
                                <input type="email" name="email" placeholder="Mail Adresiniz" required="">
                                <button type="submit">Go</button>
                            </form>
                            <p>Size Özel Fırsatları Kaçırmayın</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                    <div class="columns text-lg-left text-center">
                        <p>
                            © @DateTime.Now.Year MHMD Tatil- Rezervasyon A.Ş. Tüm Hakları Saklıdır.

                        </p>
                    </div>
                    <div class="columns-2 mt-lg-0 mt-3">
                        <ul class="social">
                            <li>
                                <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
              scrollFunction()
            };

            function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
              } else {
                document.getElementById("movetop").style.display = "none";
              }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->
        <script>
            $(function () {
              $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
              })
            });
        </script>
    </section>
    <!-- //footer -->
</footer>